<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dd8682">  <td>19/10/20 10:00:37</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;TestHerokuapp.afterTest()[pri:0, instance:tests.TestHerokuapp@12d3a4e9]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@715378067</td>   <td></td> </tr>
<tr bgcolor="dd8682">  <td>19/10/20 10:00:31</td>   <td>-5549</td> <td>&nbsp;</td><td title="&gt;&gt;TestHerokuapp.setUp()[pri:0, instance:tests.TestHerokuapp@12d3a4e9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@715378067</td>   <td></td> </tr>
<tr bgcolor="dd8682">  <td>19/10/20 10:00:36</td>   <td>-573</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestHerokuapp.test_alerts()[pri:0, instance:tests.TestHerokuapp@12d3a4e9]">test_alerts</td> 
  <td>main@715378067</td>   <td></td> </tr>
</table>
