<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>softwaretestingmaterial</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="95b596">  <td>19/11/24 12:00:15</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestQantas.setUp()[pri:0, instance:qantas_tests.TestQantas@2d2e5f00]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1866161430</td>   <td></td> </tr>
<tr bgcolor="95b596">  <td>19/11/24 12:00:22</td>   <td>6953</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestQantas.test_bookings()[pri:0, instance:qantas_tests.TestQantas@2d2e5f00]">test_bookings</td> 
  <td>main@1866161430</td>   <td></td> </tr>
</table>
